{:source-paths
 ["src/main"]

 :dependencies
 [[org.clojure/clojure "1.10.3"]
  [org.clojure/clojurescript "1.10.866"]
  [reagent "0.10.0"]
  [datascript "1.2.8"]
  [com.taoensso/tufte "2.2.0"]
  [cljs-http "0.1.46"]
  [binaryage/devtools "1.0.4"]]
 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn roamtable.core/init}}}
  :query-browser
  {:target :browser
   :preloads [binaryage/devtools]
   :modules {:main {:init-fn query.core/init}}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-spec$"
   :main query.test-runner/main
   :autorun   true}}}
